body{
	min-width: 900px;
	font-family: "Roboto", "Arial", sans-serif; 
	font-size: 18px;
	line-height: 22px;
	background-color: #849d8f;
	color: #ffffff;
}

h1{
  font-size: 35px;
  font-weight: bold;
  line-height: 0.857;
}

h2{
  font-size: 24px;
  line-height: 1.25;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
	min-height: 75px;
}

/*Если подключать через css*/
.index-logo {
	float: left;
	background-image: url("/img/LogoGllacy.svg");
	background-repeat: no-repeat;
	width: 154px;
	height: 64px;
	margin-left: -6px;
	margin-right: 25px;
}

.main-navigation {
  float: left;
  margin-right: 67px;
}

.main-navigation a{
	color: white;
	font-size: 16px;
	display: block;	
	
	height: 33px;
	border-radius: 10px 10px;
}

.main-navigation a:hover{
	background-color:white;
	color:black;
	text-decoration: none;
}

.main-navigation li:last-child {
	padding-right: 0px;
}


.main-navigation ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation li{
	display: inline-block;
	line-height: 20px;
	padding-right: 28px;
	padding-top: 21px;
	padding-bottom: 21px;
	
}

.user-action {
  float: right;
  width: 264px;
}

.user-action ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.user-action li{
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 20px;
  vertical-align: top;
  margin-right: 9px;
}

.user-action ul li:last-child{
  margin-right: 0px;
}

.user-action a{
  display: block;
  background-color: #a8bdb1;
  
}

.container {
  margin: 0 auto;
  width: 860px;
}

.intelligence {
  float: right;
  width: 170px;
  text-align: right;
  padding: 0px;
}

.intelligence p{
  margin: 0;
}

.page-name {
  float: left;
  width: 100%;
  text-align: center;
  min-height: 105px;
  margin-top: 400px;
}

.page-name h1{
  font-size: 60px;
  
}

.slader-and-btn {
  clear: both;
  min-height: 105px;
  margin-bottom: 40px;
}

.gratis-raspberry {
  float:left;
  width: 420px;
  margin-right: 20px;
}

.gratis {
  height: 200px;
  width: 100%;
  margin-bottom: 40px;
}

.gratis-chocolate {
  float:left;
  width: 420px;
}

.shop {
  margin-bottom: 35px;
}

.shop-item {
  float: left;
  width: 200px;
  margin-right: 20px;
}

.shop-item:last-child {
  margin-right: 0px;
}

.information {
  margin-bottom: 38px;
	color: #000000;
}

.information-head {
  margin-bottom: 20px;
}

/*.information-point {
  float: left;
  min-height: 140px;
  width: 420px;
}

.information-point:nth-child(2n) {
  float: right;
}
*/

.dump {
  margin-bottom: 40px;
	color: #000000;
}

.dump-news {
  float: left;
  height: 100%;
  width: 420px;
  margin-right: 20px;
}

.dump-subscription {
  float: left;
  height: 100%;
  width: 420px;
}

.map {
  min-height: 430px;
  width: 100%;
}

.map-contacts {
  float: right;
  margin-right: 20px;
  margin-top: 65px;
  width: 300px;
  min-height: 305px;
	color: #000000;
}

.main-footer {
	min-height: 98px;
}

.footer-social {
  float: left;
  width: 200px;
  margin-right: 20px;
}

.footer-links {
  float: left;
  width: 420px;
  margin-right: 20px;
}

.footer-copyright {
  float: left;
  width: 200px;
}

.information-point {
	float: left;
	width: 345px;
	padding-left: 75px;
	vertical-align: bottom;
}

.breacrumbs {
  float: left;
  width: 690px;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.breacrumbs li {
  display: inline-block;
  line-height: 20px;
  margin-top: 22px;
}

.breacrumbs a{
  font-size: 14px;
  margin-right: 22px;
  color: white;
}


.del-lineheight {
  line-height: 0px;
}

.catalog-name {
  margin-top: 0px;
}

.filters {
  margin-bottom: 30px;
}

.catalog-shop {
 
}

.filters-top {
  float: left;
  width: 100%;
}

.filters-bottom {
  float: left;
  width: 100%;
  margin-top: 0px;
}

.filters-top-sort {
  float: left;
  margin-right: 3px;
}

.filters-top-pricecntrl {
  float: left;
}

.filters-top-fat {
   float: left;
}

.filters-top-name {
  margin-bottom: 3px;
}

.catalog-shop-item {
  float: left;
  width: 200px;
  min-height: 300px;
  margin-right: 20px;
  
}

.catalog-shop-item:nth-child(4n){
  margin-right: 0px;
}

.shop-navigation {
}

.information-right {
	
}

.user-action-search {
  width: 34px;
  border-radius: 17px;
}

.user-action-login {
  width: 94px;
  border-radius: 17px;
}
.user-action-cart {
  width: 118px;
  border-radius: 17px;
}

.intelligence-servicetime {
  font-size: 14px;
}

.intelligence-phone {
  font-size: 22px;
}
