body{
	min-width: 900px;
	font-family: "Roboto", "Arial", sans-serif; 
	font-size: 18px;
	line-height: 22px;
	background-color: #849d8f;
	color: #ffffff;
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
	min-height: 75px;
}

/*Если подключать через css*/
.index-logo {
	float: left;
	background-image: url("../img/LogoGllacy.svg");
	background-repeat: no-repeat;
	width: 154px;
	height: 64px;
	margin-left: -6px;
	margin-right: 25px;
}

.main-navigation {
  float: left;
}

.main-navigation > ul > li > a{
	color: white;
	font-size: 16px;
	display: block;	
	
	border-radius: 30px;
	padding: 10px 14px;
}

.main-navigation > ul > li > a.cheked{
	text-decoration: none;
	font-weight: bold;
	background-color: #d07058;
}

.main-navigation > ul > li:hover > a{
	background-color:white;
	color:black;
	text-decoration: none;
	font-weight: bold;
}

.main-navigation > ul > li > a:active{
	box-shadow: inset 15px 10px 10px 0 0 black;
}

.main-navigation > ul > li:last-child {
	padding-right: 0px;
}


.main-navigation > ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation > ul > li{
	display: inline-block;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-navigation > ul > li{
	position: relative;
}

.main-navigation-sub {
    overflow: hidden;
	background-color: white;
	position: absolute;
	z-index: 10;
	top: 60px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-radius: 10px;
	display: none;
    width: 145px; 
}

.main-navigation > ul > li:first-child:hover .main-navigation-sub{
	display: block;
}

.main-navigation-sub a{
    display: block;
    padding-top: 7px;
	padding-left: 22px;
	padding-bottom: 5px;
	font-size: 14px;
	color: black;
	text-decoration: none;
	margin: 0px;
    vertical-align: middle;
}

.main-navigation-sub li:first-child a{
	padding-bottom: 16px; 
	padding-top: 13px;
} 

.main-navigation-sub li{
}

.main-navigation-sub li:first-child:hover{
	background-color: white;
	border-radius: 10px;
}

.main-navigation-sub li:hover{
	background-color: #fbded7;
}

.main-navigation-sub li:active{
	background-color: #f6b5a5;
}


.user-action {
  float: right;
}

.user-action ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.user-action li{
  display: inline-block;
  margin-top: 16px;
  vertical-align: top;
  margin-right: 9px;
  
}

.user-action ul li:last-child{
  margin-right: 0px;
}

.user-action a{
  display: block;
  background-color: #a8bdb1;
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.container {
	/*
  min-width: 860px;
  max-width: 1200px;*/
  margin-right: auto;
  margin-left: auto;
  width: 860px;
}

.intelligence {
  float: right;
  width: 170px;
  text-align: right;
  padding: 0px;
}

.intelligence p{
  margin: 0;
}

.page-name {
  float: left;
  width: 100%;
  text-align: center;
  min-height: 105px;
  margin-top: 400px;
}

.page-name h1 {
	line-height: 60px;
}

.page-name h1{
  font-size: 60px;
  
}

.slader-and-btn {
  clear: both;
  min-height: 105px;
  margin-bottom: 40px;
}

.gratis-raspberry {
  float:left;
  width: 400px;
  margin-right: 20px;
  background-image: url("../img/BkgrRaspberries.png") ;
  background-repeat: no-repeat;
  background-size: 420px 230px;
  border-radius: 17px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.gratis {
  width: 100%;
  margin-bottom: 40px;
}

.gratis-chocolate {
  float:left;
  width: 400px;
  background-image: url("../img/BkgrChocolate.png") /*no-repeat 420px 229px*/;
  background-repeat: no-repeat;
  background-size: 420px 230px;
  border-radius: 17px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.shop {
  margin-bottom: 35px;
}

.shop-item {
  position: relative;
  float: left;
  width: 200px;
  margin-right: 20px;
  margin-top: 40px;
  text-align: center;
	min-height: 282px;
}

.shop-item a{
	color: white;
	font-size: 16px;
}

.shop-item:last-child {
  margin-right: 0px;
}

.information {
  margin-bottom: 38px;
  color: #000000;
  background-image: url("../img/PatternWafer.jpg");
  border-radius: 20px;
	height: 375px;/*Исправить на мин*/
}

.information-head {
  float: left;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 20px;
  width: 90%;
}

/*.information-point {
  float: left;
  min-height: 140px;
  width: 420px;
}

.information-point:nth-child(2n) {
  float: right;
}
*/

.dump {
  margin-bottom: 40px;
	color: #000000;
}

.dump-news {
  float: left;
  height: 100%;
  width: 420px;
  margin-right: 20px;
  background-image: url("../img/BkgrRaspberries.png") no-repeat 420px 220px;
}

.dump-subscription {
  float: left;
  height: 100%;
  width: 420px;
}

.map {
  min-height: 430px;
  width: 100%;
  background-image: url("../img/MapImg.png");
  background-repeat: no-repeat; 
  background-size: 100% 430px;
	
}

.map-contacts {
  float: right;
  margin-right: 20px;
  margin-top: 65px;
  width: 300px;
  min-height: 305px;
  color: #000000;
  background-color: white;
  border-radius: 20px;
}

.main-footer {
	min-height: 98px;
	margin-top: 20px;
}

.footer-social {
  float: left;
  display: block;
  font-size: 0;
}

.footer-social a:last-child{
	margin-right: 0px;
}


.footer-links {
  float: left;
  margin-left: 70px;
  font-size: 13px;
}

.footer-links a{
	color:white;
}

.footer-copyright {
  float: right;
  font-size: 12px;
  padding-top: 37px;
  position: relative;
}

.footer-copyright a{
	color: white;
}

.footer-copyright p{
 	margin: 0px;
}

.sup{
    vertical-align: super;
}

.information-point {
	float: left;
	position: relative;
	width: 344px;
	padding-left: 78px;
	font-size: 16px;
}

.information-point p{
	margin-top: 0px;
}

.breacrumbs {
  float: left;
  width: 690px;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.breacrumbs li {
  display: inline-block;
  line-height: 20px;
  margin-top: 22px;
}

.breacrumbs a{
  font-size: 14px;
  margin-right: 22px;
  color: white;
}


.del-lineheight {
  line-height: 0px;
}

.catalog-name {
  margin-top: 0px;
}

.filters {
  margin-bottom: 30px;
}


.filters-top {
  float: left;
  width: 100%;
}

.filters-bottom {
  float: left;
  width: 100%;
  margin-top: 0px;
}

.filters-top-sort {
  float: left;
  margin-right: 3px;
}

.filters-top-pricecntrl {
  float: left;
}

.filters-top-fat {
   float: left;
}

.filters-top-name {
  margin-bottom: 3px;
}

.catalog-shop-item {
  float: left;
  width: 200px;
  min-height: 300px;
  margin-right: 20px;
  
}

.catalog-shop-item:nth-child(4n){
  margin-right: 0px;
}


.user-action-search {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: relative;
}

.user-action-search::before{
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  
  width: 17px;
  height: 17px;
  
  background-image: url("../img/IconSearch.png");
  background-repeat: no-repeat;
}

.user-action-login {
  position: relative;
  border-radius: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 45px;
  padding-right: 18px;
}

.user-action-login::before{
  content: "";
  
  position: absolute;
  top: 7px;
  left: 17px;
  
  width: 24px;
  height: 24px;
  
  background-image: url("../img/IconEnter.png");
  background-repeat: no-repeat;
  
}


.user-action-cart {
  border-radius: 18px;
  position: relative;
  padding: 6px 41px;
}

.user-action-cart::before{
  content: "";
  
  position: absolute;
  top: 7px;
  left: 14px;
  
  width: 24px;
  height: 24px;
  
  background-image: url("../img/IconCart.svg");
  background-repeat: no-repeat;
}

.intelligence-servicetime {
  font-size: 14px;
}

.intelligence-phone {
  font-size: 22px;
}


/*Для спрайта*/
.sprite {
    position: absolute;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-IconCart {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
	top: 10px;
	left: 17px;
}

.sprite-IconEnter {
    width: 21px;
    height: 19px;
    background-position: -51px -10px;
	top: 10px;
	left: 17px;
}

.sprite-IconSearch {
    top: 7px;
    left: 7px;
    background-position: -195px -9px;
    width: 22px;
    height: 22px;
}

.sprite-iconLove {
	top: 3px;
	left: 0px;
    width: 20px;
    height: 17px;
    background-position: -336px -9px;
}

.social-btn {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 13px;
	background-color: #c2cec7;
	border-radius: 20px;
	
	background-image: url("../img/sprite.png");
}

.social-btn-twit {
	background-position:  -230px -7px;
}

.social-btn-inst {
	background-position: -141px -7px;
}

.social-btn-fd {
	background-position: -89px -7px;
}

.social-btn-vk {
	background-position: -282.5px -7px;
}

.footer-links-left {
	position: relative;
	float: left;
	padding-left: 23px;
	width: 115px;
	margin-right: 30px;
}



.footer-links-right {
	float: left;
	width: 178px;
}

.htmlimg {
	position: absolute;
	background-image: url("../img/LogoHTMLAC.svg");
	top: 0;
	height: 0;
	width: 106px;
	height: 35px;
}

.gratis-btn {
	float: right;
	width: 168px;
	right: 0px;
	bottom: 0px;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 24px;
	color: white;
	text-decoration: none;
	text-align: center;
	padding-bottom: 14px;
	padding-top: 14px;
	border-radius: 20px;
	background-color: #ed6140;
	
}

.shop-item-sticker-hit {
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url("../img/IconHit.png")
}

.shop-item-sticker-cost {
	position: absolute;
	bottom: 90px;
	font-weight: bold;
	font-size: 30px;
}

.shop-item-sticker-cost span{
	font-size: 45px;
}

.information-point-icon {
	position: absolute;
	width: 52px;
	height: 50px;
	background-image: url("../img/sprite2.png");
	background-repeat: no-repeat;
	left: 10px;
}

.cream-icon {
	background-position: -215px -10px;
}

.list-icon {
	background-position: -78px -10px;
}

.cow-icon {
	background-position: -9px -10px;
}

.templ-icon {
	background-position: -147px -10px;
}

.navigation-sub-new {
  font-weight: bold;
  margin: 0;
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: black;
}

.sub-menu-line {
  margin-right: 10px;
  margin-left: 10px;
}
