body{
	min-width: 900px;
	font-family: "Roboto", "Arial", sans-serif; 
	font-size: 18px;
	line-height: 22px;
	background-color: #849d8f;
	color: #ffffff;
}

h1{
  font-size: 35px;
  font-weight: bold;
  line-height: 0.857;
}

h2{
  font-size: 24px;
  line-height: 1.25;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
	min-height: 75px;
}

/*Если подключать через css*/
.index-logo {
	float: left;
	background-image: url("/img/LogoGllacy.svg");
	background-repeat: no-repeat;
	width: 154px;
	height: 64px;
	margin-left: -6px;
	margin-right: 25px;
}

.main-navigation {
  float: left;
}

.main-navigation > ul > li > a{
	color: white;
	font-size: 16px;
	display: block;	
	
	border-radius: 30px;
	padding: 10px 14px;
}

.main-navigation > ul > li > a.cheked{
	text-decoration: none;
	font-weight: bold;
	background-color: #d07058;
}

.main-navigation > ul > li:hover > a{
	background-color:white;
	color:black;
	text-decoration: none;
	font-weight: bold;
}

.main-navigation > ul > li > a:active{
	box-shadow: inset 15px 10px 10px 0 0 black;
}

.main-navigation > ul > li:last-child {
	padding-right: 0px;
}


.main-navigation > ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation > ul > li{
	display: inline-block;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-navigation > ul > li{
	position: relative;
}

.main-navigation-sub {
	background-color: white;
	position: absolute;
	z-index: 10px;
	top: 60px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-radius: 15px;
	display: none;
}

.main-navigation > ul > li:first-child:hover .main-navigation-sub{
	display: block;
}

.main-navigation-sub a{
	display: block;
	font-size: 14px;
	color: black;
	text-decoration: none;
	padding-left: 22px;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 143px;
}

.main-navigation-sub li:first-child a{
	padding-bottom: 16px; 
	padding-top: 13px;
} 

.main-navigation-sub a:hover{
	background-color: #fbded7;
}

.main-navigation-sub a:active{
	background-color: #f6b5a5;
}

.user-action {
  float: right;
  width: 264px;
}

.user-action ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.user-action li{
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 10px;
  vertical-align: top;
  margin-right: 9px;
  
}

.user-action ul li:last-child{
  margin-right: 0px;
}

.user-action a{
  display: block;
  background-color: #a8bdb1;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  width: 860px;
}

.intelligence {
  float: right;
  width: 170px;
  text-align: right;
  padding: 0px;
}

.intelligence p{
  margin: 0;
}

.page-name {
  float: left;
  width: 100%;
  text-align: center;
  min-height: 105px;
  margin-top: 400px;
}

.page-name h1{
  font-size: 60px;
  
}

.slader-and-btn {
  clear: both;
  min-height: 105px;
  margin-bottom: 40px;
}

.gratis-raspberry {
  float:left;
  width: 420px;
  margin-right: 20px;
}

.gratis {
  height: 200px;
  width: 100%;
  margin-bottom: 40px;
}

.gratis-chocolate {
  float:left;
  width: 420px;
}

.shop {
  margin-bottom: 35px;
}

.shop-item {
  float: left;
  width: 200px;
  margin-right: 20px;
}

.shop-item:last-child {
  margin-right: 0px;
}

.information {
  margin-bottom: 38px;
	color: #000000;
}

.information-head {
  margin-bottom: 20px;
}

/*.information-point {
  float: left;
  min-height: 140px;
  width: 420px;
}

.information-point:nth-child(2n) {
  float: right;
}
*/

.dump {
  margin-bottom: 40px;
	color: #000000;
}

.dump-news {
  float: left;
  height: 100%;
  width: 420px;
  margin-right: 20px;
}

.dump-subscription {
  float: left;
  height: 100%;
  width: 420px;
}

.map {
  min-height: 430px;
  width: 100%;
}

.map-contacts {
  float: right;
  margin-right: 20px;
  margin-top: 65px;
  width: 300px;
  min-height: 305px;
	color: #000000;
}

.main-footer {
	min-height: 98px;
}

.footer-social {
  float: left;
  display: block;
  font-size: 0;
}

.footer-social a:last-child{
	margin-right: 0px;
}


.footer-links {
  float: left;
  margin-left: 70px;
  font-size: 13px;
}

.footer-links a{
	color:white;
}

.footer-copyright {
  float: left;
  width: 200px;
}

.information-point {
	float: left;
	width: 345px;
	padding-left: 75px;
	vertical-align: bottom;
}

.breacrumbs {
  float: left;
  width: 690px;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.breacrumbs li {
  display: inline-block;
  line-height: 20px;
  margin-top: 22px;
}

.breacrumbs a{
  font-size: 14px;
  margin-right: 22px;
  color: white;
}


.del-lineheight {
  line-height: 0px;
}

.catalog-name {
  margin-top: 0px;
}

.filters {
  margin-bottom: 30px;
}

.catalog-shop {
 
}

.filters-top {
  float: left;
  width: 100%;
}

.filters-bottom {
  float: left;
  width: 100%;
  margin-top: 0px;
}

.filters-top-sort {
  float: left;
  margin-right: 3px;
}

.filters-top-pricecntrl {
  float: left;
}

.filters-top-fat {
   float: left;
}

.filters-top-name {
  margin-bottom: 3px;
}

.catalog-shop-item {
  float: left;
  width: 200px;
  min-height: 300px;
  margin-right: 20px;
  
}

.catalog-shop-item:nth-child(4n){
  margin-right: 0px;
}

.shop-navigation {
}

.information-right {
	
}

.user-action-search {
  width: 34px;
  border-radius: 17px;
  text-indent: -10000px;
  position: relative;
}

.user-action-login {
  position: relative;
  border-radius: 25px;
  padding-left: 46px;
  padding-right: 17px;
}
.user-action-cart {
  padding-left: 46px;
  border-radius: 25px;
  padding-right: 30px;
  position: relative;
}

.intelligence-servicetime {
  font-size: 14px;
}

.intelligence-phone {
  font-size: 22px;
}


/*Для спрайта*/
.sprite {
    background-image: url("/img/sprite.png");
    background-repeat: no-repeat;
    display: block;
	position: absolute;
}

.sprite-IconCart {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
	top: 10px;
	left: 17px;
}

.sprite-IconEnter {
    width: 21px;
    height: 19px;
    background-position: -51px -10px;
	top: 10px;
	left: 17px;
}

.sprite-IconSearch {
    width: 17px;
    height: 17px;
    background-position: -196px -10px;
	top: 10px;
	left: 10px;
}

.sprite-iconLove {
	top: 3px;
	left: 0px;
    width: 17px;
    height: 16px;
    background-position: -336px -9px;
}

.social-btn {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 13px;
	background-color: #c2cec7;
	border-radius: 20px;
	
	background-image: url("/img/sprite.png");
}

.social-btn-twit {
	background-position:  -230px -7px;
}

.social-btn-inst {
	background-position: -141px -7px;
}

.social-btn-fd {
	background-position: -89px -7px;
}

.social-btn-vk {
	background-position: -283px -7px;
}

.footer-links-left {
	position: relative;
	float: left;
	padding-left: 23px;
	width: 115px;
	margin-right: 30px;
}



.footer-links-right {
	float: left;
	width: 178px;
}
