body{
	
	font-family: "Roboto", "Arial", sans-serif; 
	font-size: 18px;
	line-height: 1.2;
	background-color: #849d8f;
	color: #ffffff;
}

.container {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
	padding-left: 2.2%;
	padding-right: 2.2%;
}

.site-wrapper{
	min-width: 940px;
	background-color: #849d8f;
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.content-wrapper {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;

  padding-top: 270px;
  padding-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

body > input[type="radio"] {
  display: none;
}

.slide {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/BkgrCream1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/BkgrCream2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/BkgrCream3.png");
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("slide-1.png");
}

.site-wrapper:after {
  background-image: url("slide-2.png");
}

.main-header {
	min-height: 75px;
	box-sizing: 
}

/*Если подключать через css*/
.index-logo {
	float: left;
	background-image: url("../img/LogoGllacy.svg");
	background-repeat: no-repeat;
	width: 154px;
	height: 64px;
	margin-left: -6px;
	margin-right: 25px;
}

.main-navigation {
  float: left;
}

.main-navigation > ul > li > a{
	color: white;
	font-size: 16px;
	display: block;	
	
	border-radius: 30px;
	padding: 10px 14px;
}

.main-navigation > ul > li > a.cheked{
	text-decoration: none;
	font-weight: bold;
	background-color: #d07058;
}

.main-navigation > ul > li:hover > a{
	background-color:white;
	color:black;
	text-decoration: none;
	font-weight: bold;
}

.main-navigation > ul > li > a:active{
	box-shadow: inset 0 3px 3px 0 black;
}

.main-navigation > ul > li:last-child {
	padding-right: 0px;
}

.main-navigation > ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation > ul > li{
	display: inline-block;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-navigation > ul > li{
	position: relative;
}

.main-navigation-sub {
    overflow: hidden;
	background-color: white;
	position: absolute;
	z-index: 10;
	top: 60px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-radius: 10px;
	display: none;
    width: 145px; 
}

.main-navigation > ul > li:first-child:hover .main-navigation-sub{
	display: block;
}

.main-navigation-sub a{
    display: block;
    padding-top: 7px;
	padding-left: 22px;
	padding-bottom: 5px;
	font-size: 14px;
	color: black;
	text-decoration: none;
	margin: 0px;
    vertical-align: middle;
}

.main-navigation-sub li:first-child a{
	padding-bottom: 16px; 
	padding-top: 13px;
} 

.main-navigation-sub li{
}

.main-navigation-sub li:first-child:hover{
	background-color: white;
	border-radius: 10px;
}

.main-navigation-sub li:hover{
	background-color: #fbded7;
}

.main-navigation-sub li:active{
	background-color: #f6b5a5;
}


.user-action {
  float: right;
	position: relative;
}

.user-action ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.user-action li{
  display: inline-block;
  margin-top: 16px;
  vertical-align: top;
  margin-right: 9px;
  
}

.user-action ul li:last-child{
  margin-right: 0px;
}

.user-action li > a {
  display: block;
  background-color: #a5baae;;
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  line-height: 22px;
}

.user-action-search {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: relative;
}

.user-action-search span{
	position: absolute;
	top: 5px;
	left: 7px;
}

.user-action-search::before{
  content: "";
  
  position: absolute;
  top: 7px;
  left: 9px;
  
  width: 24px;
  height: 24px;
  
  background-image: url("../img/IconSearch.png");
  background-repeat: no-repeat;
}

.user-action-search:hover::before{
	background-image: url("../img/IconSearchBlack.png");
}

.user-action-login {
  position: relative;
  border-radius: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 45px;
  padding-right: 18px;
}

.user-action-login::before{
  content: "";
  
  position: absolute;
  top: 7px;
  left: 17px;
  
  width: 24px;
  height: 24px;
  
  background-image: url("../img/IconEnter.png");
  background-repeat: no-repeat;
}

.user-action-login:hover::before{
	background-image: url("../img/IconEnterBlack.png");
}


.user-action-cart {
  border-radius: 18px;
  position: relative;
  padding: 6px 41px;
}

.user-action-cart::before{
  content: "";
  
  position: absolute;
  top: 7px;
  left: 14px;
  
  width: 24px;
  height: 24px;
  
  background-image: url("../img/IconCart.png");
  background-repeat: no-repeat;
}


.user-action-cart:hover::before{
	background-image: url("../img/IconCartBlack.png");
}

.user-action li > a:active {
	box-shadow: inset 0 1px 2px 0 black;
}

.user-action li > a:hover{
	background-color: #f8f7f4;
	color: black;
}

#btn-1:checked ~ .site-wrapper .user-action li > a:hover,
#btn-2:checked ~ .site-wrapper .user-action li > a:hover,
#btn-3:checked ~ .site-wrapper .user-action li > a:hover{
	background-color: white;
	color: black;
}

#btn-1:checked ~ .site-wrapper .user-action li > a {
	background-color: #a5baae;
}

#btn-2:checked ~ .site-wrapper .user-action li > a {
	background-color: #abb7c4;
}

#btn-3:checked ~ .site-wrapper .user-action li > a {
	background-color: #bfb0a9;
}

.search-form{
	position:absolute;
	z-index: 10;
	background-color: #f8f7f4;
	border-radius: 10px;
	padding: 15px 18px;
	top: 40px;
	right: 0px;
	display: none;
}

.search-form input, .login-form input{
	width:220px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #d3d3d2;
	padding-left: 20px;
	color: darkgrey;
	font-size: 14px;
}

.user-action-search:hover .search-form{
	display: block;
}

.login-form input{
	margin-bottom: 12px;
}

.login-form{
	position: absolute;
	z-index: 10;
	background-color: #f8f7f4;
	border-radius: 10px;
	width: 244px;
	padding: 15px 18px;
	top:55px;
	right: 130px;
	display: none;
}

.login-form input.login-btn{
	float: left;
	width: 103px;
	height: 38;
	padding: 11px 28px;
	padding-left: 32px;
	color: white;
	border: none;
	
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.user-action-login:hover + .login-form{
	display: block;
}

.login-form a{
	display: block;
	font-size: 13px;
	line-height: 24.3px;
	margin-bottom: -4px;
	color: black;
}

.shop-form {
	position: absolute;
	z-index: 10;
	background-color: #f8f7f4;
	border-radius: 10px;
	width: 540px;
	right: 0px;
	top: 54px;
	padding-top: 12px;
	padding-bottom: 20px;
	display: none;
}

.user-action-cart:hover + .shop-form{
	display: block;
}

.shop-form ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.shop-form i {
	display: inline-block;
	font-size: 13px;
	color: black;
	font-style: normal;
	vertical-align: top;
	height: 30px;
	padding-top: 9px;
	margin-bottom: -2px;
}

.item-name{
	width: 217px;
	padding-left: 12px;
	padding-right: 32px;
}

.item-weight{
	width: 124px;
}

.item-delete{
	height: 10px;
	width: 42px;
	position: relative;
}

.item-delete::before{
	content: "";
  	position: absolute;
	width: 10px;
	height: 1px;
	background-color: black;
	transform: rotate(45deg);
	top: 16px;
	left: 18px;
	cursor: pointer;
}

.item-delete::after{
	content: "";
  	position: absolute;
	width: 10px;
	height: 1px;
	background-color: black;
	transform: rotate(-45deg);
	top: 16px;
	left: 18px;
	cursor: pointer;
}

.item-img{
	width: 36px;
	
	background-repeat: no-repeat;
	background-size: 33px 33px;
}

.cream1{
	background-image: url("../img/ContentCream1.png");
}

.cream2{
	background-image: url("../img/ContentCream3.png");
}

.shop-form-line{
	height: 1px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 18px;
	background-color: #cacac7;
}

.shop-form-price{
	float: right;
	font-size: 15px;
	color: black;
	padding-right: 30px;
	font-weight: bold;
	margin-bottom: 13px;
}

.shop-form-btn{
	float: right;
	clear: both;
	margin-right: 30px;
	width: 162px;
	right: 0px;
	bottom: 0px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.intelligence {
  float: right;
  width: 170px;
  text-align: right;
  padding: 0px;
  margin-top: 20px;
}

.intelligence p{
  margin: 0;
}

.page-name {
  float: left;
  width: 100%;
  text-align: center;
  min-height: 105px;
  margin-top: 400px;
}

.page-name h1 {
	line-height: 60px;
}

.page-name h1{
  font-size: 60px;
  
}

.slader-and-btn {
  clear: both;
  min-height: 105px;
  margin-bottom: 40px;
  position: relative;
}

.gratis-raspberry {
  float: left;
  width: 400px;
  margin-right: 20px;
  background-image: url("../img/BkgrRaspberries.png") ;
  background-repeat: no-repeat;
  background-size: 100% 230px;
  border-radius: 17px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.gratis {
  width: 100%;
  margin-bottom: 40px;
  line-height: 22px;
}

.gratis-btn:hover, .map-contacts a:hover, .subscription-btn:hover, .login-form input.login-btn:hover, .shop-form-btn:hover, .send-btn:hover, .item-btn:hover {
 background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.gratis-btn:active, .map-contacts a:active,  .subscription-btn:active, .login-form input.login-btn:active, .shop-form-btn:active, .send-btn:active, .item-btn:active{
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.gratis-chocolate {
  float: right;
  width: 400px;
  background-image: url("../img/BkgrChocolate.png") /*no-repeat 420px 229px*/;
  background-repeat: no-repeat;
  background-size: 100% 230px;
  border-radius: 17px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.shop {
  margin-bottom: 35px;
  margin-top: 40px;
}

.shop-item {
  position: relative;
  float: left;
  width: 200px;
  margin-right: 20px;
  text-align: center;
  min-height: 282px;
}

.shop-item a{
	width: 100%;
	color: white;
	font-size: 16px;
}

.shop-item:hover{
	background-color: #a7b8ad;
	border-radius: 20px;
}

.shop-item:last-child {
  margin-right: 0px;
	float: right;
}

.information {
  margin-bottom: 38px;
  color: #000000;
  background-image: url("../img/PatternWafer.jpg");
  border-radius: 20px;
  min-height: 375px;/*Исправить на мин*/
  line-height: 22px;
}

.information-head {
  float: left;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 20px;
  width: 90%;
}

/*.information-point {
  float: left;
  min-height: 140px;
  width: 420px;
}

.information-point:nth-child(2n) {
  float: right;
}
*/

.dump {
  margin-bottom: 40px;
  color: #000000;
  line-height: 22px;
}

.dump-news {
  float: left;
  width: 400px;
  background-image: url("../img/BkgrStrawberry.png"); 
  background-repeat: no-repeat;
  padding-top: 22px;
  padding-left: 18px;
  padding-bottom: 90px;
  background-size: cover;
  border-radius: 10px;
  min-height: 22px;

}

.dump-news h3{
	margin: 0;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 16px;
}

.dump-subscription {
  float: right;
  width: 366px;
  background-image: url("../img/BkgrPost.png");
  background-repeat: no-repeat;
  background-color: #f8f7f4;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 32px;
  padding-bottom: 38px;
  border-radius: 10px;
  background-position: center;
}

.dump-subscription p{
	padding: 0;
	margin: 0;
	padding-bottom: 13px;
	font-size: 16px;
}

.map {
  min-height: 430px;
  width: 100%;
  background-image: url("../img/MapImg.png");
  background-repeat: no-repeat; 
  background-size: cover;
}

.map-contacts {
  position: relative;
  float: right;
  margin-top: 65px;
  padding-top: 10px;
  width: 300px;
  min-height: 299px;
  padding-left: 28px;
  color: #000000;
  background-color: white;
  border-radius: 20px;
  line-height: 22px;
}

.map-contacts p{
	margin: 0;
	margin-top: 20px;

	font-size: 14px;
}

.map-contacts i{
	display: block;
	margin-top: -10px;
	font-style: normal;
	font-size: 14px;
	
}

.map-contacts strong{
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}


.main-footer {
	min-height: 98px;
	margin-top: 20px;
}

.footer-social {
  float: left;
  display: block;
  font-size: 0px;
}

.footer-social a:last-child{
	margin-right: 0px;
}


.footer-links {
  float: left;
  font-size: 13px;
  margin-left: 70px;
  line-height: 22px;
}

.footer-links a{
	color:white;
}

.footer-copyright {
  float: right;
  font-size: 12px;
  padding-top: 37px;
  position: relative;
}

.footer-copyright a{
	color: white;
}

.footer-copyright p{
 	margin: 0px;
}

.sup{
    vertical-align: super;
}

.information-point {
	float: left;
	position: relative;
	width: 344px;
	padding-left: 78px;
	font-size: 16px;
}

.information-point p{
	margin-top: 0px;
}

.breacrumbs {
  float: left;
  width: 690px;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
	margin-top: -45px;
}

.breacrumbs i{
	font-size: 14px;
	margin-right: 10px;
}

.breacrumbs li {
  display: inline-block;
  line-height: 20px;
  margin-top: 22px;
}

.breacrumbs a, .breacrumbs span {
  font-size: 14px;
  margin-right: 10px;
  color: white;
}



.del-lineheight {
  line-height: 0px;
}

.catalog-name {
  margin: 0;
  margin-bottom: 36px;
  font-size: 35px;
  line-height: 30px;
  float: left;
}

.filters {
  margin-bottom: 30px;
}


.filters-top {
  float: left;
  width: 100%;
}

.filters-bottom {
  float: left;
  width: 100%;
  margin-top: 14px;
}

.filters-top-sort {
  float: left;
  margin-right: 10px;
}

.filters-top-price {
  float: left;
  width: 222px;
  min-height: 60px;
  margin-right: 10px;
}

.filters-top-price input{
	width: 25px;
	height: 17px;
	background: none;
	border:none;
	font-size: 14px;
}



.filters-top-fat {
   float: left;
   width: 417px;
   position: relative;
}

.catalog-shop-item {
  float: left;
  width: 200px;
  min-height: 300px;
  margin-right: 20px;
  text-align: center;
  position: relative;
  z-index: 20;
}

.catalog-shop-item:hover .item-hover{
	display: block;
}

.catalog-shop-item a{
	color: white;
	font-size: 16px;
	font-weight: 500;
}

.catalog-shop-item:nth-child(4n){
  margin-right: 0px;
}




.intelligence-servicetime {
  font-size: 14px;
}

.intelligence-phone {
  font-size: 22px;
}


/*Для спрайта*/
.sprite {
    position: absolute;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-IconCart {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
	top: 10px;
	left: 17px;
}

.sprite-IconEnter {
    width: 21px;
    height: 19px;
    background-position: -51px -10px;
	top: 10px;
	left: 17px;
}

.sprite-IconSearch {
    top: 7px;
    left: 7px;
    background-position: -195px -9px;
    width: 22px;
    height: 22px;
}

.sprite-iconLove {
	top: 3px;
	left: 0px;
    width: 20px;
    height: 17px;
    background-position: -336px -9px;
}

.social-btn {
	position: relative;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 13px;
	background-color: #e6ebe9;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	border: 3px solid #c2cec7;
}

.social-btn:hover{
	opacity: 1;
}

.social-btn:active{
	box-shadow: inset 0 2px 4px 0 #9b9b9b;
	opacity: 0.9;
}

.social-btn span{
	color: #849d8f;
	font-size: 16px;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 0%;
}

.footer-links-left {
	position: relative;
	float: left;
	padding-left: 23px;
	width: 115px;
	margin-right: 30px;
}

.footer-links-right {
	float: left;
	width: 178px;
}

.htmlimg {
	position: absolute;
	background-image: url("../img/LogoHTMLAC.svg");
	top: 0;
	height: 0;
	width: 106px;
	height: 35px;
}

.gratis-btn {
	float: right;
	width: 168px;
	right: 0px;
	bottom: 0px;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 24px;
	color: white;
	text-decoration: none;
	text-align: center;
	padding-bottom: 14px;
	padding-top: 14px;
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.shop-item-sticker-hit {
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url("../img/IconHit.png")
}

.shop-item-sticker-cost {
	position: absolute;
	bottom: 90px;
	font-weight: bold;
	font-size: 45px;
}

.shop-item-sticker-cost span{
	font-size: 45px;
}

.information-point-icon {
	position: absolute;
	width: 52px;
	height: 50px;
	background-image: url("../img/sprite2.png");
	background-repeat: no-repeat;
	left: 10px;
}

.cream-icon {
	background-position: -215px -10px;
}

.list-icon {
	background-position: -78px -10px;
}

.cow-icon {
	background-position: -9px -10px;
}

.templ-icon {
	background-position: -147px -10px;
}

.navigation-sub-new {
  font-weight: bold;
  margin: 0;
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: black;
}

.sub-menu-line {
  margin-right: 10px;
  margin-left: 10px;
}

.left-colomn {
	float:left;
	width: 46%;
	margin-right: 20px;
}

.right-colomn {
	  float:right;
	  width: 46%;
}



.dump-news-link {
	font-size: 24px;
	font-weight: bold;
	color: black;
}



.map-contacts-btn {
	position: absolute;
	font-size: 17px;
	font-weight: bold;
	padding: 14px 35px;
	border-radius: 28px;
	background-color: #eb563b;
	color: white;
	text-decoration: none;
	right: 26px;
	bottom: 30px;
	
}

.subscription-btn {
	font-size: 17px;
	font-weight: bold;
	color: white;
	padding: 13px 20px;
	border: none;
 	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.subscription-text {
	height: 44px;
	width: 207px;
	border: 1px solid #d3d3d2;
	border-radius: 10px;
	color: darkgray;
	padding-left: 20px;
}



.btn-buy {
	position: absolute;
	width: 281px;
	color: white;
	text-decoration: none;
	text-align: center;
	padding-bottom: 23px;
	padding-top: 23px;
	border-radius: 30px;
	background-color: #ed6140;
	bottom:0;
	left: 290px;
	font-size: 31.48px;
	font-weight: bold;
	
}

.icon-twitter {
	background-color: #849d8f;
	background-image: url("../img/IconTwitter.svg");
	background-repeat: no-repeat;
	width: 31px;
	height: 31px;
	opacity: 0.8;
}

.icon-instagram {
	background-color: #849d8f;
	background-image: url("../img/IconInstagram.svg");
	background-repeat: no-repeat;
	width: 31px;
	height: 31px;
	opacity: 0.8;
}

.icon-facebook {
	background-color: #849d8f;
	background-image: url("../img/IconFacebook.svg");
	background-repeat: no-repeat;
	width: 31px;
	height: 31px;
	opacity: 0.8;
}

.icon-vkontakte {
	background-color: #849d8f;
	background-image: url("../img/IconVK.svg");
	background-repeat: no-repeat;
	width: 31px;
	height: 31px;
	opacity: 0.8;
}

.map-pointer {
	position: absolute;
	width: 79px;
	height: 139px;
	background-image: url("../img/MapPointer.svg");
	background-repeat: no-repeat;
	top:50px;
	left: 300px;
}

.icon-Love {
	width: 20px;
	height: 20px;
	position: absolute;
	background-image: url("../img/iconLove.svg");
	background-repeat: no-repeat;
	top: 4px;
	left: 4px;
}

.shop-navigation {
	margin-top: 50px;
}

.shop-navigation ul{
	float: right;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.shop-navigation li{
	display: inline-block;
}

.shop-navigation a{
	border-radius: 50%;
	margin-right: 0px;
	text-decoration: none;
	color: white;
}

.shop-navigation a:hover{
	background-color: #9db1a5;
}

.shop-navigation span{
	border-radius: 50%;
}

.shop-navigation span.shop-nav-checked{
	background-color: white;
	color:black;
}

.shop-navigation i{
	font-style: normal;
	margin-right: 5px;
	color: #9db1a5;
}

.lnk-shop{
	display: block;
	font-size: 16px;
	font-weight: 500;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 1.7;
}

.filters-window {
	display: inline-block;
	border-radius: 20px;
	background-color: #aabab0;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 28px;
	font-size: 16px;
}



.filters-top-title {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 8px;
}

.price-cntrl {
	position: relative;
	padding: 17px 7px;
	background-color: #aabab0;
	border-radius: 20px;
}

.price-cntrl .scale{
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.price-cntrl .bar{
  position: absolute;
  left: 40px;
  width: 50%;
  height: 2px;
  background: #ffffff;
}

.range-toggle{
	position: absolute;
	width: 22px;
	height: 22px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	top: 6px;
}

.range-toggle-min {
	left: 30px;
}

.range-toggle-max {
	left: 130px;
}

.choose-rdbtns {
	position: relative;
	padding: 10px 16px;
	background-color: #aabab0;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 500;
}

.radio-btn {
	position: relative;
	padding-left: 30px;
	margin-right: 12px;
	cursor: pointer;
}



.radio-btn input[type="radio"]{
	display: none;
}

.radio-btn input[type="radio"] + .radiobox-indicator{
	position: absolute;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	left: 2px;
	top: -2px;
	border: 1px solid white;
}

.radio-btn:hover input[type="radio"] + .radiobox-indicator{
	top: -3px;
	left: 1px;
	border: 2px solid white;
}

.radio-btn input[type="radio"]:checked + .radiobox-indicator::before{
	content: "";
  	position: absolute;
	
	width: 13px;
	height: 13px;
	
	border-radius: 50%;
	background-color: white;
	
	top: 4px;
	left: 4px;
	
}

.controls {
	float: left;
	padding: 10px 16px;
	background-color: #aabab0;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 500;
	margin-right: 10px;
}

.check-btn{
	position: relative;
	padding-left: 30px;
	margin-right: 12px;
	cursor: pointer;
}

.check-btn input[type="checkbox"]{
	display: none;
}

.check-btn input[type="checkbox"] + .checkbox-indicator{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid white;
	top: -2px;
	left: 0px;
}

.check-btn:hover input[type="checkbox"] + .checkbox-indicator{
	
	top: -3px;
	left: -1px;
	border: 2px solid white;
}

.check-btn input[type="checkbox"]:checked + .checkbox-indicator::before{
	content: "";
  	position: absolute;
	width: 2px;
	height: 13px;
	background-color: white;
	transform: rotate(45deg);
	top: 3px;
	left: 11px;
}

.check-btn input[type="checkbox"]:checked + .checkbox-indicator::after{
	content: "";
  	position: absolute;
	width: 2px;
	height: 7px;
	background-color: white;
	transform: rotate(-45deg);
	top: 8px;
	left: 5px;
}

.filters-bottom input[type="submit"]
{
	padding:  8px 34px;
	background-color: #9aaea3;
	border-radius: 20px;
	border: 2px solid white;
	font-size: 16px;
	font-weight: 500;
}

.filters-bottom input[type="submit"]:hover{
	background-color: white;
	color: black;
}

.filters-bottom input[type="submit"]:active{
	box-shadow: inset 0 1px 5px 0px black;
	border:none;
	padding:  9px 35px;
}

.login-links {
	float: right;
}

.modal-content {
	position: fixed;
	top: 35%;
	left: 38%;
	width: 428px;
	height: 393px;
	background-color: #f8f7f4;
	color: black;
	padding: 25px;
	border-radius: 20px;
	z-index: 20;
	display: none;
}

.modal-content h2{
	margin-top: -8px;
	margin-bottom: 14px;
	font-size: 24px;
	font-weight: 500;
}

.modal-content input{
	display: block;
	padding: 12px 17px;
	border-radius: 10px;
	border: 1px solid darkgrey;
	width: 235px;
	margin-bottom: 20px;
	color: darkgrey;
}

.modal-content form input:nth-child(3){
	width: 396px;
	height: 121px;
}

input.send-btn {
	float: right;
	width: 142px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.modal-content-close {
  position: absolute;
  top: 10px;
  right: 17px;
	
  width: 22px;
  height: 22px;

  font-size: 0;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 22px;
  height: 2px;
  background-color: black;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
	display: none;
}
.footer-line {
	background-color: #a9bbb1;
	height: 1px;
	margin-bottom: 20px;
}

.item-hover {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 221px;
	height: 367px;
	background-color: #a7b8ad;
	z-index: 10;
	display: none;
	border-radius: 10px;
}

.item-btn {
	position: absolute;
	z-index: 50;
	top: 85%;
	right: 10%;
	width: 168px;
	color: white;
	text-decoration: none;
	text-align: center;
	padding-bottom: 9px;
	padding-top: 9px;
	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
  	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.item-sticker-cost {
	position: absolute;
	bottom: 110px;
	font-weight: bold;
	font-size: 45px;
}
