body{
	
	font-family: "Roboto", "Arial", sans-serif; 
	font-size: 18px;
	line-height: 1.2;
	background-color: #849d8f;
	color: #ffffff;
}

.container {
  /*min-width: 900px;
  max-width: 1200px; */
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.site-wrapper{
	min-width: 940px;
	background-color: #849d8f;
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.content-wrapper {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;

  padding-top: 270px;
  padding-bottom: 40px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

body > input[type="radio"] {
  display: none;
}

.slide {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/BkgrCream1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/BkgrCream2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/BkgrCream3.png");
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("slide-1.png");
}

.site-wrapper:after {
  background-image: url("slide-2.png");
}


.main-header {
	min-height: 75px;
}

/*Если подключать через css*/
.index-logo {
	float: left;
	background-image: url("../img/LogoGllacy.svg");
	background-repeat: no-repeat;
	width: 154px;
	height: 64px;
	margin-left: -6px;
	margin-right: 25px;
}

.main-navigation {
  float: left;
}

.main-navigation > ul > li > a{
	color: white;
	font-size: 16px;
	display: block;	
	
	border-radius: 30px;
	padding: 10px 14px;
}

.main-navigation > ul > li > a.cheked{
	text-decoration: none;
	font-weight: bold;
	background-color: #d07058;
}

.main-navigation > ul > li:hover > a{
	background-color:white;
	color:black;
	text-decoration: none;
	font-weight: bold;
}

.main-navigation > ul > li > a:active{
	box-shadow: inset 0 3px 3px 0 black;
}

.main-navigation > ul > li:last-child {
	padding-right: 0px;
}

.main-navigation > ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation > ul > li{
	display: inline-block;
	line-height: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-navigation > ul > li{
	position: relative;
}

.main-navigation-sub {
    overflow: hidden;
	background-color: white;
	position: absolute;
	z-index: 10;
	top: 60px;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-radius: 10px;
	display: none;
    width: 145px; 
}

.main-navigation > ul > li:first-child:hover .main-navigation-sub{
	display: block;
}

.main-navigation-sub a{
    display: block;
    padding-top: 7px;
	padding-left: 22px;
	padding-bottom: 5px;
	font-size: 14px;
	color: black;
	text-decoration: none;
	margin: 0px;
    vertical-align: middle;
}

.main-navigation-sub li:first-child a{
	padding-bottom: 16px; 
	padding-top: 13px;
} 

.main-navigation-sub li{
}

.main-navigation-sub li:first-child:hover{
	background-color: white;
	border-radius: 10px;
}

.main-navigation-sub li:hover{
	background-color: #fbded7;
}

.main-navigation-sub li:active{
	background-color: #f6b5a5;
}


.user-action {
  float: right;
}

.user-action ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.user-action li{
  display: inline-block;
  margin-top: 16px;
  vertical-align: top;
  margin-right: 9px;
  
}

.user-action ul li:last-child{
  margin-right: 0px;
}

.user-action a{
  display: block;
  background-color: #a5baae;;
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  line-height: 22px;
}

.user-action-search {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: relative;
}

.user-action-search span{
	position: absolute;
	top: 5px;
	left: 7px;
}

.user-action-search::before{
  content: "";
  
  position: absolute;
  top: 7px;
  left: 9px;
  
  width: 24px;
  height: 24px;
  
  background-image: url("../img/IconSearch.png");
  background-repeat: no-repeat;
}

.user-action-search:hover::before{
	background-image: url("../img/IconSearchBlack.png");
}

.user-action-login {
  position: relative;
  border-radius: 25px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 45px;
  padding-right: 18px;
}

.user-action-login::before{
  content: "";
  
  position: absolute;
  top: 7px;
  left: 17px;
  
  width: 24px;
  height: 24px;
  
  background-image: url("../img/IconEnter.png");
  background-repeat: no-repeat;
}

.user-action-login:hover::before{
	background-image: url("../img/IconEnterBlack.png");
}


.user-action-cart {
  border-radius: 18px;
  position: relative;
  padding: 6px 41px;
}

.user-action-cart::before{
  content: "";
  
  position: absolute;
  top: 7px;
  left: 14px;
  
  width: 24px;
  height: 24px;
  
  background-image: url("../img/IconCart.png");
  background-repeat: no-repeat;
}


.user-action-cart:hover::before{
	background-image: url("../img/IconCartBlack.png");
}

.user-action a:active {
	box-shadow: inset 0 2px 4px 2px black;
}

.user-action a:hover{
	background-color: white;
	color: black;
}



#btn-1:checked ~ .site-wrapper .user-action a:hover,
#btn-2:checked ~ .site-wrapper .user-action a:hover,
#btn-3:checked ~ .site-wrapper .user-action a:hover{
	background-color: white;
	color: black;
}

#btn-1:checked ~ .site-wrapper .user-action a {
	background-color: #a5baae;
}

#btn-2:checked ~ .site-wrapper .user-action a {
	background-color: #abb7c4;
}

#btn-3:checked ~ .site-wrapper .user-action a {
	background-color: #bfb0a9;
}

.intelligence {
  position: absolute;
  float: right;
  top: 0px;
  right: 0px;
  width: 170px;
  text-align: right;
  padding: 0px;
}

.intelligence p{
  margin: 0;
}

.page-name {
  float: left;
  width: 100%;
  text-align: center;
  min-height: 105px;
  margin-top: 400px;
}

.page-name h1 {
	line-height: 60px;
}

.page-name h1{
  font-size: 60px;
  
}

.slader-and-btn {
  clear: both;
  min-height: 105px;
  margin-bottom: 40px;
  position: relative;
}

.gratis-raspberry {
  float: left;
  width: 400px;
  margin-right: 20px;
  background-image: url("../img/BkgrRaspberries.png") ;
  background-repeat: no-repeat;
  background-size: 100% 230px;
  border-radius: 17px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.gratis {
  width: 100%;
  margin-bottom: 40px;
}

.gratis a:hover, .map-contacts a:hover, .btn-buy:hover{
	background-color: #f17b64;
	box-shadow: inset 0 -2px 0 0 #ac1000;
}

.gratis a:active, .map-contacts a:active, .btn-buy:active{
	background-color: #d94a34;
	box-shadow: inset 0 2px 0 0 #ac1000;
}

.gratis-chocolate {
  float: right;
  width: 400px;
  background-image: url("../img/BkgrChocolate.png") /*no-repeat 420px 229px*/;
  background-repeat: no-repeat;
  background-size: 100% 230px;
  border-radius: 17px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.shop {
  margin-bottom: 35px;
  margin-top: 40px;
}

.shop-item {
  position: relative;
  float: left;
  width: 200px;
  margin-right: 20px;
  text-align: center;
  min-height: 282px;
}

.shop-item a{
	width: 100%;
	color: white;
	font-size: 16px;
}

.shop-item:hover a{
	color: #ef7762;
}

.shop-item:last-child {
  margin-right: 0px;
	float: right;
}

.information {
  margin-bottom: 38px;
  color: #000000;
  background-image: url("../img/PatternWafer.jpg");
  border-radius: 20px;
	height: 375px;/*Исправить на мин*/
}

.information-head {
  float: left;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 20px;
  width: 90%;
}

/*.information-point {
  float: left;
  min-height: 140px;
  width: 420px;
}

.information-point:nth-child(2n) {
  float: right;
}
*/

.dump {
  margin-bottom: 40px;
	color: #000000;
}

.dump-news {
  float: left;
  width: 400px;
  background-image: url("../img/BkgrStrawberry.png"); 
  background-repeat: no-repeat;
  padding-top: 22px;
  padding-left: 18px;
  padding-bottom: 90px;
  background-size: cover;
  border-radius: 10px;
}

.dump-news h3{
	margin: 0;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 16px;
}

.dump-subscription {
  float: right;
  width: 366px;
  background-image: url("../img/BkgrPost.png");
  background-repeat: no-repeat;
  background-color: #f8f7f4;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 32px;
  padding-bottom: 38px;
  border-radius: 10px;
  background-position: center;
  background-size: 419px 221px;
}

.dump-subscription p{
	padding: 0;
	margin: 0;
	padding-bottom: 13px;
	font-size: 16px;
}

.map {
  min-height: 430px;
  width: 100%;
  background-image: url("../img/MapImg.png");
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
}

.map-contacts {
  position: relative;
  float: right;
  margin-top: 65px;
  padding-top: 10px;
  width: 300px;
  min-height: 299px;
  padding-left: 28px;
  color: #000000;
  background-color: white;
  border-radius: 20px;
}

.map-contacts p{
	margin: 0;
	margin-top: 20px;

	font-size: 14px;
}

.map-contacts i{
	display: block;
	margin-top: -10px;
	font-style: normal;
	font-size: 14px;
	
}

.map-contacts strong{
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}


.main-footer {
	min-height: 98px;
	margin-top: 20px;
}

.footer-social {
  float: left;
  display: block;
  font-size: 0px;
}

.footer-social a:last-child{
	margin-right: 0px;
}


.footer-links {
  float: left;
  font-size: 13px;
  margin-left: 70px;
}

.footer-links a{
	color:white;
}

.footer-copyright {
  float: right;
  font-size: 12px;
  padding-top: 37px;
  position: relative;
}

.footer-copyright a{
	color: white;
}

.footer-copyright p{
 	margin: 0px;
}

.sup{
    vertical-align: super;
}

.information-point {
	float: left;
	position: relative;
	width: 344px;
	padding-left: 78px;
	font-size: 16px;
}

.information-point p{
	margin-top: 0px;
}

.breacrumbs {
  float: left;
  width: 690px;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.breacrumbs li {
  display: inline-block;
  line-height: 20px;
  margin-top: 22px;
}

.breacrumbs a, .breacrumbs span {
  font-size: 14px;
  margin-right: 22px;
  color: white;
}



.del-lineheight {
  line-height: 0px;
}

.catalog-name {
  margin-top: 0px;
}

.filters {
  margin-bottom: 30px;
}


.filters-top {
  float: left;
  width: 100%;
}

.filters-bottom {
  float: left;
  width: 100%;
  margin-top: 0px;
}

.filters-top-sort {
  float: left;
  margin-right: 3px;
}

.filters-top-pricecntrl {
  float: left;
}

.filters-top-fat {
   float: left;
}

.filters-top-name {
  margin-bottom: 3px;
}

.catalog-shop-item {
  float: left;
  width: 200px;
  min-height: 300px;
  margin-right: 20px;
  text-align: center;
}

.catalog-shop-item:hover{
	background-color: #a7b8ad;
}

.catalog-shop-item a{
	color: white;
	font-size: 16px;
	font-weight: 500;
}

.catalog-shop-item:nth-child(4n){
  margin-right: 0px;
}




.intelligence-servicetime {
  font-size: 14px;
}

.intelligence-phone {
  font-size: 22px;
}


/*Для спрайта*/
.sprite {
    position: absolute;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-IconCart {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
	top: 10px;
	left: 17px;
}

.sprite-IconEnter {
    width: 21px;
    height: 19px;
    background-position: -51px -10px;
	top: 10px;
	left: 17px;
}

.sprite-IconSearch {
    top: 7px;
    left: 7px;
    background-position: -195px -9px;
    width: 22px;
    height: 22px;
}

.sprite-iconLove {
	top: 3px;
	left: 0px;
    width: 20px;
    height: 17px;
    background-position: -336px -9px;
}

.social-btn {
	position: relative;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 13px;
	background-color: #e6ebe9;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	border: 3px solid #c2cec7;
}

.social-btn:hover{
	opacity: 1;
}

.social-btn:active{
	box-shadow: inset 0 2px 4px 0 #9b9b9b;
	opacity: 0.9;
}

.social-btn span{
	color: #849d8f;
	font-size: 16px;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 0%;
}

.footer-links-left {
	position: relative;
	float: left;
	padding-left: 23px;
	width: 115px;
	margin-right: 30px;
}

.footer-links-right {
	float: left;
	width: 178px;
}

.htmlimg {
	position: absolute;
	background-image: url("../img/LogoHTMLAC.svg");
	top: 0;
	height: 0;
	width: 106px;
	height: 35px;
}

.gratis-btn {
	float: right;
	width: 168px;
	right: 0px;
	bottom: 0px;
	margin-top: 5px;
	margin-right: 20px;
	margin-bottom: 24px;
	color: white;
	text-decoration: none;
	text-align: center;
	padding-bottom: 14px;
	padding-top: 14px;
	border-radius: 20px;
	background-color: #ed6140;
	
}

.shop-item-sticker-hit {
	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url("../img/IconHit.png")
}

.shop-item-sticker-cost {
	position: absolute;
	bottom: 90px;
	font-weight: bold;
	font-size: 30px;
}

.shop-item-sticker-cost span{
	font-size: 45px;
}

.information-point-icon {
	position: absolute;
	width: 52px;
	height: 50px;
	background-image: url("../img/sprite2.png");
	background-repeat: no-repeat;
	left: 10px;
}

.cream-icon {
	background-position: -215px -10px;
}

.list-icon {
	background-position: -78px -10px;
}

.cow-icon {
	background-position: -9px -10px;
}

.templ-icon {
	background-position: -147px -10px;
}

.navigation-sub-new {
  font-weight: bold;
  margin: 0;
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: black;
}

.sub-menu-line {
  margin-right: 10px;
  margin-left: 10px;
}

.left-colomn {
	float:left;
	width: 46%;
	margin-right: 20px;
}

.right-colomn {
	  float:right;
	  width: 46%;
}



.dump-news-link {
	font-size: 24px;
	font-weight: bold;
	color: black;
}



.map-contacts-btn {
	position: absolute;
	font-size: 17px;
	font-weight: bold;
	padding: 14px 35px;
	border-radius: 28px;
	background-color: #eb563b;
	color: white;
	text-decoration: none;
	right: 26px;
	bottom: 30px;
	
}

.subscription-btn {
	font-size: 17px;
	font-weight: bold;
	border-radius: 28px;
	background-color: #eb563b;
	color: white;
	padding: 13px 20px;
}

.subscription-text {
	height: 44px;
	width: 227px;
	border: 1px solid #d3d3d2;
	border-radius: 10px;
}



.btn-buy {
	position: absolute;
	width: 281px;
	color: white;
	text-decoration: none;
	text-align: center;
	padding-bottom: 23px;
	padding-top: 23px;
	border-radius: 30px;
	background-color: #ed6140;
	bottom:0;
	left: 290px;
	font-size: 31.48px;
	font-weight: bold;
	
}

.icon-twitter {
	background-image: url("../img/IconTwitter.svg");
	background-repeat: no-repeat;
	width: 31px;
	height: 31px;
	opacity: 0.8;
}

.icon-instagram {
	background-image: url("../img/IconInstagram.svg");
	background-repeat: no-repeat;
	width: 31px;
	height: 31px;
	opacity: 0.8;
}

.icon-facebook {
	background-image: url("../img/IconFacebook.svg");
	background-repeat: no-repeat;
	width: 31px;
	height: 31px;
	opacity: 0.8;
}

.icon-vkontakte {
	background-image: url("../img/IconVK.svg");
	background-repeat: no-repeat;
	width: 31px;
	height: 31px;
	opacity: 0.8;
}

.map-pointer {
	position: absolute;
	width: 79px;
	height: 139px;
	background-image: url("../img/MapPointer.svg");
	background-repeat: no-repeat;
	top:50px;
	left: 300px;
}

.icon-Love {
	width: 20px;
	height: 20px;
	position: absolute;
	background-image: url("../img/iconLove.svg");
	background-repeat: no-repeat;
	top: 4px;
	left: 4px;
}

.shop-navigation {
	margin-top: 50px;
}

.shop-navigation ul{
	float: right;
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.shop-navigation li{
	display: inline-block;
}

.shop-navigation a{
	border-radius: 50%;
	margin-right: 10px;
	text-decoration: none;
	color: white;
}

.shop-navigation a:hover{
	background-color: #9db1a5;
}

.shop-navigation span{
	border-radius: 50%;
	margin-right:8px;
}

.shop-navigation span.shop-nav-checked{
	background-color: white;
	color:black;
}

.shop-navigation i{
	font-style: normal;
	margin-right: 5px;
	color: #9db1a5;
}

.lnk-shop{
	display: block;
	font-size: 16px;
	font-weight: 500;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 1.7;
}